.form-login{
    color: black;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 22rem;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    padding: 2rem .7rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 1px #929291;
}

.form-login .conteiener-form {
    width: 100%;
    height: 15rem;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.form-login label{
    font-size: 1rem;
}

.form-login input{
    height: 2rem;
    border-radius: .35rem;
    border: 1px solid #797373;
    padding: 0 .25rem;
    margin-bottom: .3rem;
    font-size: .90rem;
}

.form-login input:focus{
    outline: none;
}



.form-login .password-forgot{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    a{
        color: #fa2727;
        cursor: pointer;
    }
}

.form-login div .conteiner-remenber{
    height: 37px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    input{
        background-color: red;
        cursor: pointer;
    }

    p{

        height: 100%;
        display: flex;
    }
}

.conteiener-form button{
    font-size: 1.1rem;
    height: 35px;
    padding: .3rem 0;
    border: 0;
    border-radius: .4rem;
    background-color: #111827;
    color: white;
    cursor: pointer;

    &&:hover{
        background-color: #1f2937;
    }
}


.form-login .opcoes-login{
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform .2s;
    position: relative;
}

.form-login .opcoes-login::after{
    content: " ";
    border-left: 1px solid rgba(0, 0, 0, 0.432);
    position: absolute;
    width: .2px;
    height: 9rem;
    top: -3.5rem;
    right: 0;
    left: 6rem;
    transform: rotate(-90deg);
}

.form-login .opcoes-login::before{
    content: " ";
    border-left: 1px solid rgba(0, 0, 0, 0.39);
    position: absolute;
    width: .2px;
    height: 9rem;
    top: -3.5rem;
    left: -5rem;
    transform: rotate(90deg);
}

.form-login .google{
    width: 100%;
    height: 2rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    border: 1px solid #e4e4e7;
    cursor: pointer;
}

.form-login .google:hover{
    background-color: #e5e7eb;
}

.form-login .errors{
    background-color: red;
    width: 100%;
    height: 30px;
    font-size: .9rem;
    padding:.2rem;
    border-radius: .3rem;
    margin-bottom: .5rem;
}
.sucsses{
    display: none;
}